<% include ../partials/header %>
    <!-- Example row of columns -->
        <hr>
        <div class="d-flex justify-content-center">
            <div class="alert alert-<%= alert_mapper[status] || 'info' %>" role="alert" style="margin-top: 40px;">
                <h4 style="margin-top: 10px;">Payment
                    <%= status.replace(/\b\w/g, l => l.toUpperCase()) %>
                </h4>
                <hr>
                <dl class="row" style="margin-bottom: 0">
                    <dt class="col-sm-3">Reference ID</dt>
                    <dd class="col-sm-9">
                        <%= reference_id %>
                    </dd>
                    <dt class="col-sm-3">Product ID</dt>
                    <dd class="col-sm-9">
                        <%= product_id %>
                    </dd>
                    <dt class="col-sm-3">Amount</dt>
                    <dd class="col-sm-9">
                        Tk.
                        <%= amount %>
                    </dd>
                </dl>
                <br>
                <a href="/" class="btn btn-<%= alert_mapper[status] || 'info' %> btn-sm" role="button" aria-pressed="true">Go to Home</a>
            </div>
        </div>
    <% include ../partials/footer %>